body{
    text-align: center;
}
#screens{
    width: 100%;
    height: 500px;
    margin: 10px auto;
    position: relative;
}
canvas{
    position: absolute;
}
#bottomCntrls{
    display: none;
    flex-direction: column;
}
#verts{
    display: flex;
    flex-wrap: wrap;
}
#la{
    background-color: aqua;
    display: block;
    text-align: center;
}
h2{
    margin: 0;
}
h5{
    margin: 0;
}